.container {
  border-radius: 20px;
  border: 1px solid var(--Base-100);
  background: var(--Base-0);
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}
.container::before {
  content: " ";
  position: absolute;
  width: 80%;
  height: 24px;
  border-radius: 0px 0px 20px 20px;
  border-right: 1px solid var(--Base-100);
  border-bottom: 1px solid var(--Base-100);
  border-left: 1px solid var(--Base-100);
  background: var(--Base-0);
  z-index: -1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 1px);
}

.supplyContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  padding: 15px 0;
  width: 100%;
  z-index: 1;
}
.supplyContainer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 140px;
  transform: translateX(-50%);
  width: 2px;
  background: var(--Base-200);
  height: 100%;
  z-index: -1;
}
.supply {
  display: grid;
  grid-template-columns: 115px 1fr;
  align-items: center;
  gap: 24px;
}
.totalSupply {
  display: flex;
  align-items: center;
  gap: 2px;
}
.value {
  font-weight: 600;
}
@media only screen and (max-width: 520px) {
  .container {
    padding: 15px;
  }
  .supply {
    grid-template-columns: 70px 1fr;
    align-items: center;
    gap: 12px;
  }
  .supplyContainer::before {
    left: 82px;
  }
  .title {
    font-size: 10px;
  }
  .value {
    font-size: 12px;
  }
}
